.investor-information-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
}

.center-section {
    position: relative;
    width: 50%; /* Adjust width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: absolute;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Optional shadow for better visibility */
}

.image1 {
    width: 300px;
    height: 300px;
    z-index: 3;
}

.image2 {
    width: 150px;
    height: 150px;
    bottom: -50px;
    left: 50px;
    z-index: 3;
}

.image3 {
    width: 150px;
    height: 150px;
    top: 0px;
    right: 70px;
    z-index: 3;
}

.right-section {
    width: 40%; /* Adjust width as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
    color: #333;
    padding: 0 20px;
}

.para-section {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    padding-right: 20px;
}
